<div class="resulats mt-5 d-flex justify-content-between">
  <p>
    Résultats: <span class="mx-2">{{products.length}}</span>
  </p>
  <p>Trier par <i class="fa-solid fa-chevron-down"></i></p>
</div>
<div class="row">
  <ng-container *ngFor="let productItem of products" >
    <div class="col-md-4">
      <div class="card my-3">
        <img
          class="card-img-top"
          [src]="productItem.imageUrl"
          alt="Card image cap"
        />
        <div class="bg-dark py-3 text-center">
          <h5 class="card-title">{{productItem.Nom_A | uppercase}}</h5>
          <h5 class="card-price">{{productItem.Prix | currency: 'EUR'}}</h5>
        </div>
        <button class="btn btn-primary text-uppercase">
          ajouter au panier
        </button>
      </div>
    </div>
  </ng-container>
</div>
